<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>Detecção de Doenças Pulmonares</title>
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <h1>
            Detecção Automática de COVID-19 e Pneumonia em Radiografias Torácicas Utilizando Aprendizado de Máquina
        </h1>
      </div>
    </header>

    <div id="controle">
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">Quem Somos</h2>
          <p class="card-description">
            Alunos de Ciencia da Computação da Universidade Presbiteriana Mackenzie, interessados em inovações tecnologicas e computacionais.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">O que foi feito</h2>
          <p class="card-description">
            Aplicando nossos conhecimentos adquiridos no curso, desenvolvemos
            um classificador, com base em <i> machine learning </i>, capaz de identificar padrões indicativos
            para diagnóstico de Covid-19 ou Pneumonia em raios-X torácico, assim como a
            ausência dessas doenças, indiciando normalidade.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">Como foi feito</h2>
          <p class="card-description">
            Utilizando a plataforma <i>Roboflow</i>, coletamos e armazenamos imagens de RX-Torácico,
            provenientes do dataset <i>"COVID-19 RADIOGRAPHY DATABASE"</i>, no <i>Kaggle</i>.<br> 
            Para o treinamento do modelo, utilizamos o Google Colab como ferramenta primária.<br> 
            Estabelecemos diversas versões do modelo, com distintas porcentagens para
            treinamento, validação e testes.<br> Cada versão foi datada,
            proporcionando diferentes configurações e melhorias ao longo do
            processo, até chegarmos nessa versão final, com melhores métricas de acurácia, precisão e recall.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">Agradecimentos</h2>
          <p class="card-description">
            Agradeçemos especialmente o professor Dr.Ivan Carlos Alcantara de Oliveira, nosso
            orientador, por nos ajudar a desenvolver nosso projeto.
          </p>
        </div>
      </div>
      <a href="/" class="botao-voltar">Voltar para predição</a>
    </div>
  </body>
  <footer>
    <p>
      <a href="https://github.com/JoaoB195Ramos">
        <img src="static/git.png" />
        João Pedro Ramos</a
      >
      <a href="https://github.com/LucasT0nin">
        <img src="static/git.png" />
        Lucas Tonin</a
      >
      <a href="https://github.com/VictorCostaNova">
        <img src="static/git.png" />
        Victor Costa</a
      >
    </p>
  </footer>
</html>
